@import url(./normalize.css);

:root {
  --dark-mode-text: #fff;
  --dark-mode-bg-color: #242424;
  --light-mode-text: #1a2e47;
  --light-mode-bg-color: var(--dark-mode-text);
  --light-mode-secondary-color: #f5f3ed;
  --nav-height: 5rem;
  --text-color: var(--light-mode-text);
  --bg-color: var(--light-mode-bg-color);
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  font-size: 16px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  position: relative;
}

main {
  transform: translateY(var(--nav-height));
}

.grid {
  display: grid;
}

.link {
  color: var(--text-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: var(--dark-mode-text);
    --bg-color: var(--dark-mode-bg-color);
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

